h1 {
  text-align: start;
  font-size: 50px;
}
span {
  font-weight: bold;
  color: #234449;
}
header {
  text-align: center;
}
header h1 {
  text-align: center;
}
body {
  background-color: #adbaba;
  position: relative;
  border-top: 7px solid #1098ad;
  border-bottom: 7px solid #1098ad;
  width: 1200px;
  margin: 0 auto;
}
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.child {
  width: 33%;
  padding: right 3%;
  margin-bottom: 5px;
}

button {
  font-size: 22px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 5px solid #1098ad;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #adbaba;
}
button:hover {
}

a {
  color: #000;
}

a:hover {
  text-decoration: wavy;
  color: #1098ad;
}

a:active {
  color: #ffff;
}

h2 {
  color: #1098ad;
}

.o-prayer {
  margin-right: 10px;
}

.petronage {
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .child {
    width: 90%;
  }
}